In [1]:
import pandas as pd

In [ ]:

df = pd.read_csv("/Users/josh/Desktop/Macbook Working Files/Git Repos/650-DRAGON-SLAYERS/FILES/Josh-Dev/patient_df.csv")

In [3]:
df.head

<bound method NDFrame.head of            ROW_ID  SUBJECT_ID   HADM_ID  ITEMID            CHARTTIME  \
0        12926279       20920  148445.0   50944  2102-02-03 11:39:00
1        27214874       94846  133042.0   50944  2171-08-02 23:05:00
2         6582776       10594  196367.0   50944  2116-09-11 05:25:00
3        17262134       27853  195738.0   50944  2129-02-26 23:03:00
4        19027254       31062  134857.0   50944  2149-01-22 15:00:00
...           ...         ...       ...     ...                  ...
9120335  24234801       71862  149988.0   51455  2143-11-16 16:46:00
9120336  18914312       30798  196137.0   51455  2154-09-28 20:28:00
9120337  18081846       29321  159383.0   51455  2171-04-06 09:52:00
9120338  20922966       47816  144244.0   51455  2151-05-11 11:43:00
9120339  20922966       47816  144244.0   51455  2151-05-11 11:43:00

            VALUE  VALUENUM VALUEUOM      FLAG  ROW_ID_1  SUBJECT_ID_1  \
0        NEGATIVE       NaN      NaN       NaN    233528         20920
1        NEGATIVE       NaN      NaN       NaN    627239         94846
2        NEGATIVE       NaN      NaN       NaN    118613         10594
3        NEGATIVE       NaN      NaN       NaN    314680         27853
4        NEGATIVE       NaN      NaN       NaN    357372         31062
...           ...       ...      ...       ...       ...           ...
9120335        81      81.0        %  abnormal    525406         71862
9120336        88      88.0        %  abnormal    354460         30798
9120337        90      90.0        %  abnormal    334460         29321
9120338        97      97.0        %  abnormal    413862         47816
9120339        97      97.0        %  abnormal    413881         47816

         HADM_ID_1  SEQ_NUM  ICD9_CODE
0           148445       23      99592
1           133042        7      99592
2           191743       13      99592
3           195738       11      99592
4           134857        5      99592
...            ...      ...        ...
9120335     149988       17      99592
9120336     196137       12      99592
9120337     159383        6      99592
9120338     144244        7      99592
9120339     167462        2      99591

[9120340 rows x 14 columns]>

In [4]:
item_ids_to_keep = [50868, 50912, 50806, 50902, 51222, 50811, 50813, 51265, 50971, 50822, 50983, 50824, 51516, 51237, 51006]

In [5]:
df = df[df['ITEMID'].isin(item_ids_to_keep)]

In [6]:
column_headers = df.columns.tolist()

print(column_headers)

['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ITEMID', 'CHARTTIME', 'VALUE', 'VALUENUM', 'VALUEUOM', 'FLAG', 'ROW_ID_1', 'SUBJECT_ID_1', 'HADM_ID_1', 'SEQ_NUM', 'ICD9_CODE']

In [7]:
columns_to_keep = ['SUBJECT_ID', 'ITEMID', 'VALUENUM']
df = df[columns_to_keep]

df.head

<bound method NDFrame.head of          SUBJECT_ID  ITEMID  VALUENUM
29395         10144   51222       3.8
29396         25225   51222       4.1
29397         25225   51222       4.1
29398         25225   51222       4.1
29399         77484   51222       4.7
...             ...     ...       ...
9108335        7050   50912       NaN
9108336        7050   50912       NaN
9108337        7050   50912       NaN
9108338        2401   50912       NaN
9108339       25256   50912       NaN

[2459528 rows x 3 columns]>

In [8]:
unique_item_ids = df['ITEMID'].unique()
unique_item_ids_list = unique_item_ids.tolist()

print(unique_item_ids_list)

[51222, 50971, 51237, 50983, 51516, 51006, 51265, 50806, 50811, 50813, 50822, 50824, 50868, 50902, 50912]

In [9]:
result = df.groupby(['SUBJECT_ID', 'ITEMID'])['VALUENUM'].agg(['min', 'max']).reset_index()

print(result)

       SUBJECT_ID  ITEMID    min    max
0              21   50806  100.0  100.0
1              21   50811    9.0   11.1
2              21   50813    1.4    3.9
3              21   50822    3.9    4.8
4              21   50824  138.0  138.0
...           ...     ...    ...    ...
60101       99991   51006   13.0   31.0
60102       99991   51222    8.8   12.7
60103       99991   51237    1.0    1.3
60104       99991   51265  151.0  425.0
60105       99991   51516    1.0    1.0

[60106 rows x 4 columns]

In [10]:
grouped = df.groupby(['SUBJECT_ID', 'ITEMID'])['VALUENUM']
min_val = grouped.transform('min').rename('MIN_VAL')
max_val = grouped.transform('max').rename('MAX_VAL')
df = df.assign(MIN_VAL=min_val, MAX_VAL=max_val)

df.head

<bound method NDFrame.head of          SUBJECT_ID  ITEMID  VALUENUM  MIN_VAL  MAX_VAL
29395         10144   51222       3.8      3.8     13.9
29396         25225   51222       4.1      4.1     15.0
29397         25225   51222       4.1      4.1     15.0
29398         25225   51222       4.1      4.1     15.0
29399         77484   51222       4.7      4.7     13.2
...             ...     ...       ...      ...      ...
9108335        7050   50912       NaN      0.4      3.6
9108336        7050   50912       NaN      0.4      3.6
9108337        7050   50912       NaN      0.4      3.6
9108338        2401   50912       NaN      0.3      2.4
9108339       25256   50912       NaN      0.1      1.1

[2459528 rows x 5 columns]>

In [11]:
df = df.drop_duplicates()

df.shape

(748734, 5)

In [12]:
item_dict = {
    50868: 'ANIONGAP',
    50912: 'CREATININE',
    50806: 'CHLORIDE',
    50902: 'CHLORIDE',
    51222: 'HEMOGLOBIN',
    50811: 'HEMOGLOBIN',
    50813: 'LACTATE',
    51265: 'PLATELET',
    50971: 'POTASSIUM',
    50822: 'POTASSIUM',
    50983: 'SODIUM',
    50824: 'SODIUM',
    51006: 'BUN',
    51237: 'INR',
    51516: 'WBC'
}

df['ITEM'] = df['ITEMID'].map(item_dict)

df.head

C:\Users\idaba\AppData\Local\Temp\ipykernel_21192\4286734318.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ITEM'] = df['ITEMID'].map(item_dict)

<bound method NDFrame.head of          SUBJECT_ID  ITEMID  VALUENUM  MIN_VAL  MAX_VAL        ITEM
29395         10144   51222       3.8      3.8     13.9  HEMOGLOBIN
29396         25225   51222       4.1      4.1     15.0  HEMOGLOBIN
29399         77484   51222       4.7      4.7     13.2  HEMOGLOBIN
29401         48872   51222       4.9      4.9     12.6  HEMOGLOBIN
29402          1987   51222       5.3      5.3     12.3  HEMOGLOBIN
...             ...     ...       ...      ...      ...         ...
9108322       14714   50912      15.5      6.4     15.8  CREATININE
9108323       75557   50912      15.7      1.3     20.1  CREATININE
9108325       25326   50912      17.0      3.3     27.2  CREATININE
9108331        1535   50912      18.1      5.0     27.1  CREATININE
9108332        1535   50912      23.9      5.0     27.1  CREATININE

[748734 rows x 6 columns]>

In [13]:
unique_item = df['ITEM'].unique()
unique_item_list = unique_item.tolist()

print(unique_item_list)

['HEMOGLOBIN', 'POTASSIUM', 'INR', 'SODIUM', 'WBC', 'BUN', 'PLATELET', 'CHLORIDE', 'LACTATE', 'ANIONGAP', 'CREATININE']

In [14]:
columns_to_keep = ['SUBJECT_ID', 'ITEM', 'MIN_VAL', 'MAX_VAL']
df = df[columns_to_keep]

df.head

<bound method NDFrame.head of          SUBJECT_ID        ITEM  MIN_VAL  MAX_VAL
29395         10144  HEMOGLOBIN      3.8     13.9
29396         25225  HEMOGLOBIN      4.1     15.0
29399         77484  HEMOGLOBIN      4.7     13.2
29401         48872  HEMOGLOBIN      4.9     12.6
29402          1987  HEMOGLOBIN      5.3     12.3
...             ...         ...      ...      ...
9108322       14714  CREATININE      6.4     15.8
9108323       75557  CREATININE      1.3     20.1
9108325       25326  CREATININE      3.3     27.2
9108331        1535  CREATININE      5.0     27.1
9108332        1535  CREATININE      5.0     27.1

[748734 rows x 4 columns]>

In [15]:
pivot_df = df.pivot_table(index='SUBJECT_ID', columns='ITEM', values=['MIN_VAL', 'MAX_VAL'], aggfunc='first')
pivot_df.columns = [f'{col[1]}_{col[0]}' for col in pivot_df.columns]
pivot_df.reset_index(inplace=True)

pivot_df.head

<bound method NDFrame.head of       SUBJECT_ID  ANIONGAP_MAX_VAL  BUN_MAX_VAL  CHLORIDE_MAX_VAL  \
0             21              27.0        102.0             113.0
1             38              17.0         61.0             113.0
2             61              21.0         42.0             117.0
3             62              13.0         30.0             114.0
4             64              21.0         26.0             113.0
...          ...               ...          ...               ...
4553       99836              23.0         79.0             119.0
4554       99865              36.0         57.0             130.0
4555       99912              22.0         38.0             114.0
4556       99985              20.0         23.0             105.0
4557       99991              16.0         31.0             114.0

      CREATININE_MAX_VAL  HEMOGLOBIN_MAX_VAL  INR_MAX_VAL  LACTATE_MAX_VAL  \
0                    4.9                12.9          4.0              3.9
1                    2.6                12.5          1.7              2.8
2                    0.8                13.6          1.1              3.4
3                    0.9                15.3          1.2              4.4
4                    1.5                11.5          1.6              NaN
...                  ...                 ...          ...              ...
4553                 3.5                10.7          2.1              3.4
4554                 1.9                12.2          3.2              9.0
4555                 1.2                14.4          1.5              7.9
4556                 1.2                12.9          3.0              2.1
4557                 2.5                12.7          1.3              2.2

      PLATELET_MAX_VAL  POTASSIUM_MAX_VAL  ...  BUN_MIN_VAL  CHLORIDE_MIN_VAL  \
0                432.0                5.5  ...         16.0              95.0
1                209.0                4.8  ...         12.0             102.0
2                521.0                5.2  ...          5.0              94.0
3                224.0                4.6  ...         14.0             105.0
4                601.0                4.8  ...          4.0              96.0
...                ...                ...  ...          ...               ...
4553             323.0                5.0  ...          7.0              94.0
4554             131.0                7.6  ...         10.0              92.0
4555             626.0                4.6  ...         20.0             100.0
4556             948.0                4.7  ...         10.0              95.0
4557             425.0                4.2  ...         13.0             102.0

      CREATININE_MIN_VAL  HEMOGLOBIN_MIN_VAL  INR_MIN_VAL  LACTATE_MIN_VAL  \
0                    2.0                 7.1          1.1              1.4
1                    0.6                 9.0          1.2              0.8
2                    0.2                 4.2          0.8              2.3
3                    0.6                10.6          1.1              1.4
4                    0.5                 7.2          1.0              NaN
...                  ...                 ...          ...              ...
4553                 0.6                 6.5          1.3              1.2
4554                 0.6                 4.7          1.3              1.0
4555                 0.7                 8.1          1.0              1.2
4556                 0.7                 7.7          1.0              0.9
4557                 0.7                 8.8          1.0              1.0

      PLATELET_MIN_VAL  POTASSIUM_MIN_VAL  SODIUM_MIN_VAL  WBC_MIN_VAL
0                142.0                3.3           133.0         30.0
1                 53.0                3.5           134.0          NaN
2                  6.0                1.7           127.0          0.0
3                129.0                3.1           136.0          NaN
4                 53.0                2.9           132.0          0.0
...                ...                ...             ...          ...
4553             101.0                2.6           133.0          7.0
4554              33.0                3.1           127.0         12.0
4555             129.0                2.9           137.0          0.0
4556             247.0                3.4           131.0          2.0
4557             151.0                3.4           139.0          1.0

[4558 rows x 23 columns]>

In [16]:
column_headers = pivot_df.columns.tolist()

print(column_headers)

['SUBJECT_ID', 'ANIONGAP_MAX_VAL', 'BUN_MAX_VAL', 'CHLORIDE_MAX_VAL', 'CREATININE_MAX_VAL', 'HEMOGLOBIN_MAX_VAL', 'INR_MAX_VAL', 'LACTATE_MAX_VAL', 'PLATELET_MAX_VAL', 'POTASSIUM_MAX_VAL', 'SODIUM_MAX_VAL', 'WBC_MAX_VAL', 'ANIONGAP_MIN_VAL', 'BUN_MIN_VAL', 'CHLORIDE_MIN_VAL', 'CREATININE_MIN_VAL', 'HEMOGLOBIN_MIN_VAL', 'INR_MIN_VAL', 'LACTATE_MIN_VAL', 'PLATELET_MIN_VAL', 'POTASSIUM_MIN_VAL', 'SODIUM_MIN_VAL', 'WBC_MIN_VAL']

In [17]:
pivot_df.isna().sum()

SUBJECT_ID               0
ANIONGAP_MAX_VAL         4
BUN_MAX_VAL              3
CHLORIDE_MAX_VAL         3
CREATININE_MAX_VAL       3
HEMOGLOBIN_MAX_VAL       0
INR_MAX_VAL             37
LACTATE_MAX_VAL         92
PLATELET_MAX_VAL         0
POTASSIUM_MAX_VAL        2
SODIUM_MAX_VAL           3
WBC_MAX_VAL           1414
ANIONGAP_MIN_VAL         4
BUN_MIN_VAL              3
CHLORIDE_MIN_VAL         3
CREATININE_MIN_VAL       3
HEMOGLOBIN_MIN_VAL       0
INR_MIN_VAL             37
LACTATE_MIN_VAL         92
PLATELET_MIN_VAL         0
POTASSIUM_MIN_VAL        2
SODIUM_MIN_VAL           3
WBC_MIN_VAL           1414
dtype: int64

In [18]:
pivot_df.to_csv('LABEVENTS-TABLE.csv', index=False)

print("Filtered data has been exported to 'LABEVENTS-TABLE.csv'")

Filtered data has been exported to 'LABEVENTS-TABLE.csv'