In [1]:
import pandas as pd
import seaborn as sns

import numpy as np
from scipy import stats

## Import Data

In [2]:
patient_df_capped = pd.read_csv('/Users/josh/Desktop/Macbook Working Files/Git Repos/650-DRAGON-SLAYERS/FILES/Josh-Dev/patient_df_capped.csv')

patient_df_capped

,Unnamed: 0.1,Unnamed: 0,SUBJECT_ID,HOSPITAL_EXPIRE_FLAG,AGE_AT_ADMISSION,LOS,LOS_ICU_MEAN,WEIGHT_MEAN,HEARTRATE_MEAN,SBP_MEAN,...,CREATININE_MIN_VAL,HEMOGLOBIN_MIN_VAL,INR_MIN_VAL,LACTATE_MIN_VAL,PLATELET_MIN_VAL,POTASSIUM_MIN_VAL,SODIUM_MIN_VAL,GENDER_M,ADMISSION_TYPE_EMERGENCY,ADMISSION_TYPE_URGENT
0,0,0.0,18333.0,1,73.0,15.0,8.628850,95.617194,76.692308,119.746305,...,1.5,7.000000,1.2,0.600000,130.0,2.900000,134.0,0,1,0
1,1,1.0,55935.0,1,59.0,8.0,8.486200,105.777654,100.165899,107.517375,...,1.7,9.300000,1.8,3.643166,39.0,4.222697,135.0,0,1,0
2,2,2.0,32012.0,1,86.0,7.0,2.356450,62.750000,94.541401,124.607143,...,1.1,6.900000,1.3,2.300000,105.0,3.100000,135.0,0,1,0
3,3,3.0,8060.0,1,53.0,34.0,8.907775,76.020000,103.072883,106.230753,...,0.5,7.400000,0.8,1.100000,24.0,2.800000,127.0,0,1,0
4,4,4.0,17634.0,1,59.0,1.0,1.299800,84.400002,110.307692,68.079180,...,0.5,9.700000,1.3,3.643166,66.0,4.200000,131.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5171,5171,5176.0,70239.0,0,81.0,1.0,1.640700,87.600000,86.250000,123.419355,...,1.2,11.546604,1.0,1.300000,113.0,3.500000,140.0,1,1,0
5172,5172,5177.0,70359.0,0,81.0,13.0,5.027500,63.185366,105.358491,113.904762,...,0.4,6.800000,1.0,1.400000,247.0,3.000000,138.0,1,1,0
5173,5173,5178.0,43776.0,0,75.0,4.0,1.650000,67.700000,82.810811,115.675676,...,1.4,11.546604,1.2,1.600000,248.0,3.600000,132.0,1,1,0
5174,5174,5179.0,43925.0,0,76.0,14.0,3.272300,71.300000,93.837209,124.887640,...,0.8,6.100000,1.1,1.500000,226.0,3.000000,134.0,1,0,0
5175,5175,5180.0,44064.0,0,85.0,23.0,2.549633,64.243747,104.679012,115.185897,...,0.4,6.700000,1.0,0.600000,43.0,3.000000,136.0,1,1,0

## Statistics

- 5 Number Summary:
  - Min
  - Q1
  - Q2
  - Q3
  - Max

- Mean, CI, P-Value

In [3]:
import pandas as pd
import numpy as np
from scipy import stats

def compute_grouped_statistics(df, group_col='HOSPITAL_EXPIRE_FLAG', exclude_cols=None, confidence=0.95):
    """
    Computes 5-Number Summary, Mean, 95% CI for the mean, and P-Value for each numeric column,
    grouped by the specified group column, excluding specified columns.

    Parameters:
    - df (pd.DataFrame): The input DataFrame.
    - group_col (str): The column name to group by.
    - exclude_cols (list or None): List of column names to exclude from analysis.
                                   Set to None to exclude no additional columns.
    - confidence (float): The confidence level for the CI.

    Returns:
    - stats_df (pd.DataFrame): DataFrame containing the computed statistics with p-values in scientific notation.
    """
    # Initialize exclude_cols if not provided
    if exclude_cols is None:
        exclude_cols = []
    
    # Ensure the group column exists
    if group_col not in df.columns:
        raise ValueError(f"Group column '{group_col}' not found in DataFrame.")
    
    # Combine group_col and exclude_cols for exclusion
    columns_to_exclude = [group_col] + exclude_cols
    
    # Select numeric columns excluding the specified columns
    numeric_cols = df.select_dtypes(include=[np.number]).columns.drop(columns_to_exclude, errors='ignore')
    
    # Initialize a dictionary to store statistics
    stats_dict = {}
    
    # Get the unique groups
    groups = df[group_col].dropna().unique()
    groups_sorted = sorted(groups)  # Ensure consistent order
    
    if len(groups_sorted) != 2:
        raise ValueError(f"Expected exactly 2 groups in '{group_col}', found {len(groups_sorted)}.")
    
    group1, group2 = groups_sorted
    
    for col in numeric_cols:
        stats_dict[col] = {}
        data1 = df[df[group_col] == group1][col].dropna()
        data2 = df[df[group_col] == group2][col].dropna()
    
        for grp, data in zip([group1, group2], [data1, data2]):
            # 5-Number Summary
            min_val = data.min()
            q1 = data.quantile(0.25)
            median = data.median()
            q3 = data.quantile(0.75)
            max_val = data.max()
    
            # Mean
            mean = data.mean()
    
            # 95% Confidence Interval for the Mean
            sem = stats.sem(data)  # Standard Error of the Mean
            if len(data) > 1:
                ci_range = sem * stats.t.ppf((1 + confidence) / 2., len(data)-1)
                ci_lower = mean - ci_range
                ci_upper = mean + ci_range
            else:
                ci_lower, ci_upper = np.nan, np.nan  # Not enough data for CI
    
            # Store the statistics with group identifier
            stats_dict[col][f'Group {grp} Min'] = min_val
            stats_dict[col][f'Group {grp} Q1'] = q1
            stats_dict[col][f'Group {grp} Median'] = median
            stats_dict[col][f'Group {grp} Q3'] = q3
            stats_dict[col][f'Group {grp} Max'] = max_val
            stats_dict[col][f'Group {grp} Mean'] = mean
            stats_dict[col][f'Group {grp} 95% CI Lower'] = ci_lower
            stats_dict[col][f'Group {grp} 95% CI Upper'] = ci_upper
    
        # P-Value: Comparing the two groups using independent t-test
        # Assumption: Independent samples, normally distributed, unequal variance (Welch’s t-test)
        if len(data1) > 1 and len(data2) > 1:
            t_stat, p_val = stats.ttest_ind(data1, data2, equal_var=False, nan_policy='omit')
        else:
            p_val = np.nan  # Not enough data for p-value
    
        stats_dict[col][f'P-Value (Group {group1} vs Group {group2})'] = p_val
    
    # Convert the dictionary to a DataFrame
    stats_df = pd.DataFrame(stats_dict).T
    
    # Identify p-value columns
    pval_cols = [col for col in stats_df.columns if 'P-Value' in col]
    other_cols = [col for col in stats_df.columns if col not in pval_cols]
    
    # Round non-p-value columns to 4 decimal places
    stats_df[other_cols] = stats_df[other_cols].round(4)
    
    # Format p-value columns in scientific notation
    stats_df[pval_cols] = stats_df[pval_cols].applymap(
        lambda x: f"{x:.2e}" if pd.notnull(x) else x
    )
    
    return stats_df

# Example usage:
# Assuming patient_df_capped is your DataFrame and 'HOSPITAL_EXPIRE_FLAG' is the group column
# and you want to exclude 'SUBJECT_ID' from the analysis
stats_summary = compute_grouped_statistics(
    patient_df_capped,
    group_col='HOSPITAL_EXPIRE_FLAG',
    exclude_cols=['SUBJECT_ID']
)
print(stats_summary)

                          Group 0 Min  Group 0 Q1  Group 0 Median  Group 0 Q3  \
Unnamed: 0.1                   6.0000   2111.0000       3385.0000   4280.0000
Unnamed: 0                     6.0000   2111.0000       3386.0000   4284.0000
AGE_AT_ADMISSION              34.4988     55.0000         67.0000     79.0000
LOS                            0.0000      6.0000         10.0000     19.0000
LOS_ICU_MEAN                   0.2694      2.1793          3.5983      7.0484
WEIGHT_MEAN                   32.6028     67.0000         79.8322     93.5273
HEARTRATE_MEAN                62.4732     79.3333         87.5164     96.0102
SBP_MEAN                      73.8104    107.0118        114.8595    124.4730
DBP_MEAN                      34.6725     54.2326         59.7266     65.4819
MAP_MEAN                      56.2651     70.7778         76.1223     82.1961
RR_MEAN                       13.1422     17.7409         19.9758     22.2323
TEMP_MEAN_C                   34.5946     36.5538         36.8654     37.2022
TEMP_MIN_C                    18.7980     35.0556         35.5556     35.9444
TEMP_MAX_C                    35.4444     37.7778         38.4444     39.2222
OXYGEN_SAT_MEAN               89.0340     96.2024         97.1314     97.9678
DIABETES                       0.0000      0.0000          0.0000      1.0000
ANIONGAP_MAX_VAL              10.0000     17.0000         19.0000     23.0000
BUN_MAX_VAL                    6.0000     28.0000         46.0000     77.0000
CHLORIDE_MAX_VAL              99.2345    109.0000        113.0000    116.0000
CREATININE_MAX_VAL             0.2000      1.2000          2.0000      3.6000
HEMOGLOBIN_MAX_VAL             9.0394     11.7000         12.9000     14.2000
INR_MAX_VAL                    0.9000      1.4000          1.7000      3.4000
LACTATE_MAX_VAL                0.3000      2.2000          3.3000      4.9000
PLATELET_MAX_VAL              27.0000    288.0000        415.0000    572.0000
POTASSIUM_MAX_VAL              3.0691      4.7000          5.3000      6.2000
SODIUM_MAX_VAL               134.2090    143.0000        145.0000    149.0000
ANIONGAP_MIN_VAL               2.5279      7.0000          9.0000     10.0000
BUN_MIN_VAL                    1.0000      6.0000         10.0000     15.0000
CHLORIDE_MIN_VAL              82.0630     92.0000         96.0000    100.0000
CREATININE_MIN_VAL             0.0000      0.5000          0.7000      1.0000
HEMOGLOBIN_MIN_VAL             4.5430      6.9000          7.8000      9.0000
INR_MIN_VAL                    0.5000      1.0000          1.1000      1.2000
LACTATE_MIN_VAL                0.0000      0.7000          1.0000      1.3000
PLATELET_MIN_VAL               5.0000     74.0000        123.0000    180.0000
POTASSIUM_MIN_VAL              2.1705      2.9000          3.1000      3.4000
SODIUM_MIN_VAL               119.3191    128.0000        132.0000    135.0000
GENDER_M                       0.0000      0.0000          1.0000      1.0000
ADMISSION_TYPE_EMERGENCY       0.0000      1.0000          1.0000      1.0000
ADMISSION_TYPE_URGENT          0.0000      0.0000          0.0000      0.0000

                          Group 0 Max  Group 0 Mean  Group 0 95% CI Lower  \
Unnamed: 0.1                5175.0000     3097.6104             3051.8816
Unnamed: 0                  5180.0000     3099.3477             3053.5635
AGE_AT_ADMISSION              92.0000       66.3109               65.7908
LOS                           48.1226       14.0054               13.6193
LOS_ICU_MEAN                  22.3127        5.7327                5.5569
WEIGHT_MEAN                  133.3879       81.9442               81.2536
HEARTRATE_MEAN               115.6411       87.7993               87.4007
SBP_MEAN                     170.0011      116.4027              115.9590
DBP_MEAN                      83.7294       60.3454               60.0613
MAP_MEAN                      94.5500       76.7521               76.4814
RR_MEAN                       27.6142       20.1052               19.9986
TEMP_MEAN_C                   39.0700       36.8956               36.8784
TEMP_MIN_C                    38.2222       34.6777               34.5590
TEMP_MAX_C                    93.5544       39.6228               39.3885
OXYGEN_SAT_MEAN              104.1654       97.0256               96.9806
DIABETES                       1.0000        0.3809                0.3650
ANIONGAP_MAX_VAL              33.3645       20.4475               20.2887
BUN_MAX_VAL                  138.2965       55.8206               54.6891
CHLORIDE_MAX_VAL             126.4489      113.0423              112.8532
CREATININE_MAX_VAL            26.4186        3.0329                2.9365
HEMOGLOBIN_MAX_VAL            16.5837       12.9470               12.8892
INR_MAX_VAL                   12.8880        2.9458                2.8593
LACTATE_MAX_VAL               12.3587        3.9765                3.8948
PLATELET_MAX_VAL             874.5456      441.4380              434.7949
POTASSIUM_MAX_VAL              8.1666        5.5335                5.4959
SODIUM_MAX_VAL               157.2123      145.8018              145.6469
ANIONGAP_MIN_VAL              16.2857        8.7372                8.6631
BUN_MIN_VAL                   45.2068       11.8391               11.5640
CHLORIDE_MIN_VAL             110.1002       96.1065               95.9060
CREATININE_MIN_VAL             2.6383        0.8126                0.7950
HEMOGLOBIN_MIN_VAL            11.5466        7.9936                7.9412
INR_MIN_VAL                    1.8255        1.0987                1.0928
LACTATE_MIN_VAL                3.6432        1.0718                1.0557
PLATELET_MIN_VAL             309.3004      131.1287              128.6262
POTASSIUM_MIN_VAL              4.2227        3.1267                3.1137
SODIUM_MIN_VAL               143.4866      131.5808              131.4097
GENDER_M                       1.0000        0.5485                0.5321
ADMISSION_TYPE_EMERGENCY       1.0000        0.9578                0.9512
ADMISSION_TYPE_URGENT          1.0000        0.0134                0.0096

                          Group 0 95% CI Upper  Group 1 Min  Group 1 Q1  \
Unnamed: 0.1                         3143.3393       0.0000    629.5000
Unnamed: 0                           3145.1319       0.0000    629.5000
AGE_AT_ADMISSION                       66.8310      34.4988     59.0000
LOS                                    14.3915      -1.0000      3.0000
LOS_ICU_MEAN                            5.9084       0.1583      2.0172
WEIGHT_MEAN                            82.6348      32.6028     67.0034
HEARTRATE_MEAN                         88.1978      62.4732     81.7208
SBP_MEAN                              116.8464      58.0799     98.2413
DBP_MEAN                               60.6295      34.6725     50.0275
MAP_MEAN                               77.0228      56.2651     66.0793
RR_MEAN                                20.2117      13.1422     18.1991
TEMP_MEAN_C                            36.9128      34.5946     36.3051
TEMP_MIN_C                             34.7963      18.7980     34.4444
TEMP_MAX_C                             39.8571      18.6889     37.5000
OXYGEN_SAT_MEAN                        97.0706      89.0340     94.8157
DIABETES                                0.3968       0.0000      0.0000
ANIONGAP_MAX_VAL                       20.6063       9.6220     19.0000
BUN_MAX_VAL                            56.9521       8.0000     41.0000
CHLORIDE_MAX_VAL                      113.2313      99.2345    108.0000
CREATININE_MAX_VAL                      3.1292       0.3000      1.7000
HEMOGLOBIN_MAX_VAL                     13.0047       9.0394     11.2000
INR_MAX_VAL                             3.0322       0.9000      1.6000
LACTATE_MAX_VAL                         4.0583       0.7000      3.0000
PLATELET_MAX_VAL                      448.0812      18.0000    184.0000
POTASSIUM_MAX_VAL                       5.5711       3.0691      4.9000
SODIUM_MAX_VAL                        145.9568     134.2090    141.0000
ANIONGAP_MIN_VAL                        8.8112       2.5279      8.0000
BUN_MIN_VAL                            12.1142       1.0000     10.0000
CHLORIDE_MIN_VAL                       96.3070      82.0630     92.0000
CREATININE_MIN_VAL                      0.8302       0.0000      0.6000
HEMOGLOBIN_MIN_VAL                      8.0459       4.5430      6.9000
INR_MIN_VAL                             1.1046       0.6000      1.0000
LACTATE_MIN_VAL                         1.0879       0.0700      0.9000
PLATELET_MIN_VAL                      133.6312       5.0000     38.0000
POTASSIUM_MIN_VAL                       3.1396       2.1705      3.0000
SODIUM_MIN_VAL                        131.7518     119.3191    128.0000
GENDER_M                                0.5648       0.0000      0.0000
ADMISSION_TYPE_EMERGENCY                0.9644       0.0000      1.0000
ADMISSION_TYPE_URGENT                   0.0172       0.0000      0.0000

                          Group 1 Median  Group 1 Q3  Group 1 Max  \
Unnamed: 0.1                   1265.0000   1911.5000    3277.0000
Unnamed: 0                     1265.0000   1911.5000    3277.0000
AGE_AT_ADMISSION                 71.0000     82.0000      92.0000
LOS                               8.0000     17.0000      48.1226
LOS_ICU_MEAN                      4.3149      9.5604      22.3127
WEIGHT_MEAN                      80.0000     94.0000     133.3879
HEARTRATE_MEAN                   90.6923    101.4783     115.6411
SBP_MEAN                        106.6809    116.6205     170.0011
DBP_MEAN                         55.4295     60.6332      83.7294
MAP_MEAN                         71.5732     77.4464      94.5500
RR_MEAN                          20.5135     23.2952      27.6142
TEMP_MEAN_C                      36.6990     37.1025      39.0700
TEMP_MIN_C                       35.2222     35.6667      39.7222
TEMP_MAX_C                       38.2778     39.0000      93.5544
OXYGEN_SAT_MEAN                  96.5997     97.6831     104.1654
DIABETES                          0.0000      1.0000       1.0000
ANIONGAP_MAX_VAL                 22.0000     27.0000      33.3645
BUN_MAX_VAL                      66.0000     98.0000     138.2965
CHLORIDE_MAX_VAL                112.0000    117.0000     126.4489
CREATININE_MAX_VAL                2.7000      4.5000      26.4186
HEMOGLOBIN_MAX_VAL               12.3000     13.7000      16.5837
INR_MAX_VAL                       2.3000      4.2000      12.8880
LACTATE_MAX_VAL                   5.1000      8.8500      12.3587
PLATELET_MAX_VAL                305.0000    438.5000     874.5456
POTASSIUM_MAX_VAL                 5.5000      6.3000       8.1666
SODIUM_MAX_VAL                  145.0000    149.0000     157.2123
ANIONGAP_MIN_VAL                 10.0000     13.0000      16.2857
BUN_MIN_VAL                      17.0000     30.0000      45.2068
CHLORIDE_MIN_VAL                 96.0000    101.0000     110.1002
CREATININE_MIN_VAL                0.9000      1.4000       2.6383
HEMOGLOBIN_MIN_VAL                7.9000      9.0000      11.5466
INR_MIN_VAL                       1.1000      1.4000       1.8255
LACTATE_MIN_VAL                   1.3000      1.9000       3.6432
PLATELET_MIN_VAL                 90.0000    156.5000     309.3004
POTASSIUM_MIN_VAL                 3.2000      3.6000       4.2227
SODIUM_MIN_VAL                  131.0000    135.0000     143.4866
GENDER_M                          1.0000      1.0000       1.0000
ADMISSION_TYPE_EMERGENCY          1.0000      1.0000       1.0000
ADMISSION_TYPE_URGENT             0.0000      0.0000       1.0000

                          Group 1 Mean  Group 1 95% CI Lower  \
Unnamed: 0.1                 1442.2301             1393.6744
Unnamed: 0                   1442.2301             1393.6744
AGE_AT_ADMISSION               69.6846               68.9492
LOS                            12.2591               11.6275
LOS_ICU_MEAN                    6.7263                6.4204
WEIGHT_MEAN                    81.9198               80.8720
HEARTRATE_MEAN                 91.4300               90.7714
SBP_MEAN                      107.2450              106.4869
DBP_MEAN                       55.5000               55.0728
MAP_MEAN                       72.0117               71.5865
RR_MEAN                        20.7528               20.5759
TEMP_MEAN_C                    36.6986               36.6639
TEMP_MIN_C                     34.1539               33.9566
TEMP_MAX_C                     39.3669               39.0131
OXYGEN_SAT_MEAN                95.9278               95.8015
DIABETES                        0.3561                0.3326
ANIONGAP_MAX_VAL               23.0914               22.8143
BUN_MAX_VAL                    71.1694               69.4175
CHLORIDE_MAX_VAL              112.0484              111.7189
CREATININE_MAX_VAL              3.5043                3.3746
HEMOGLOBIN_MAX_VAL             12.4502               12.3625
INR_MAX_VAL                     3.3974                3.2649
LACTATE_MAX_VAL                 6.0467                5.8692
PLATELET_MAX_VAL              330.5968              321.2474
POTASSIUM_MAX_VAL               5.6390                5.5861
SODIUM_MAX_VAL                145.1029              144.8254
ANIONGAP_MIN_VAL               10.4310               10.2674
BUN_MIN_VAL                    20.5947               19.9426
CHLORIDE_MIN_VAL               96.1136               95.7766
CREATININE_MIN_VAL              1.0903                1.0554
HEMOGLOBIN_MIN_VAL              8.0622                7.9807
INR_MIN_VAL                     1.2277                1.2137
LACTATE_MIN_VAL                 1.5583                1.5135
PLATELET_MIN_VAL              106.7732              102.7303
POTASSIUM_MIN_VAL               3.2987                3.2745
SODIUM_MIN_VAL                131.3721              131.0853
GENDER_M                        0.5693                0.5450
ADMISSION_TYPE_EMERGENCY        0.9473                0.9364
ADMISSION_TYPE_URGENT           0.0188                0.0121

                          Group 1 95% CI Upper P-Value (Group 0 vs Group 1)
Unnamed: 0.1                         1490.7858                     0.00e+00
Unnamed: 0                           1490.7858                     0.00e+00
AGE_AT_ADMISSION                       70.4200                     2.58e-13
LOS                                    12.8906                     3.88e-06
LOS_ICU_MEAN                            7.0322                     3.63e-08
WEIGHT_MEAN                            82.9676                     9.70e-01
HEARTRATE_MEAN                         92.0887                     4.34e-20
SBP_MEAN                              108.0031                     1.43e-86
DBP_MEAN                               55.9272                     1.16e-72
MAP_MEAN                               72.4370                     5.97e-72
RR_MEAN                                20.9297                     8.85e-10
TEMP_MEAN_C                            36.7332                     4.74e-23
TEMP_MIN_C                             34.3511                     8.39e-06
TEMP_MAX_C                             39.7207                     2.37e-01
OXYGEN_SAT_MEAN                        96.0541                     1.07e-54
DIABETES                                0.3796                     8.71e-02
ANIONGAP_MAX_VAL                       23.3685                     1.27e-56
BUN_MAX_VAL                            72.9213                     1.08e-45
CHLORIDE_MAX_VAL                      112.3778                     3.07e-07
CREATININE_MAX_VAL                      3.6340                     1.14e-08
HEMOGLOBIN_MAX_VAL                     12.5379                     3.06e-20
INR_MAX_VAL                             3.5299                     2.35e-08
LACTATE_MAX_VAL                         6.2242                     5.23e-88
PLATELET_MAX_VAL                      339.9461                     4.63e-76
POTASSIUM_MAX_VAL                       5.6920                     1.45e-03
SODIUM_MAX_VAL                        145.3804                     1.67e-05
ANIONGAP_MIN_VAL                       10.5945                     2.59e-71
BUN_MIN_VAL                            21.2469                    2.57e-115
CHLORIDE_MIN_VAL                       96.4507                     9.72e-01
CREATININE_MIN_VAL                      1.1252                     1.63e-42
HEMOGLOBIN_MIN_VAL                      8.1437                     1.65e-01
INR_MIN_VAL                             1.2416                     3.47e-59
LACTATE_MIN_VAL                         1.6032                     1.85e-81
PLATELET_MIN_VAL                      110.8161                     2.32e-23
POTASSIUM_MIN_VAL                       3.3229                     1.11e-33
SODIUM_MIN_VAL                        131.6589                     2.20e-01
GENDER_M                                0.5936                     1.63e-01
ADMISSION_TYPE_EMERGENCY                0.9583                     1.08e-01
ADMISSION_TYPE_URGENT                   0.0255                     1.67e-01